.leaflet-container {
	@apply min-h-screen z-0;
}

.user-geo {
	> div {
		@apply flex items-center shadow-sm shadow-accent justify-center animate-pulse rounded-full;
		width: 60px;
		height: 60px;
		boxshadow: '0 0 0 0 rgba(4, 75, 4, 0.4)';
	}
}
