.auth {
	@apply pb-4;
	> form {
		@apply mt-9 w-[455px] px-7 rounded-lg border border-solid border-accent mx-auto pt-3 pb-[73px] text-center shadow-2xl shadow-gradient-top;
		@media (max-width: 478px) {
			@apply w-[355px];
		}
		@media (max-width: 378px) {
			@apply w-[280px];
		}
		> img {
			@apply inline;
		}
		> h1 {
			@apply mb-6 text-xl tracking-[2px];
		}
		> div:last-child {
			@apply mt-10 max-w-[200px] mx-auto;
		}
		> p {
			@apply text-red-500 text-left italic mb-2;
		}
	}
	&-type {
		@apply text-right;
		> button {
			@apply text-accent tracking-[2px] italic relative;
			&:before {
				content: '';
				width: 0;
				height: 1px;
				background-color: #044b04;
				border-radius: 3px;
				transition: width 0.4s linear;
				position: absolute;
				left: 0;
				bottom: -2px;
			}
			&:hover::before {
				width: 100%;
			}
		}
	}
}
